body {
    background-color: #393E46;
}
.container {
    width: 70%;
    margin: auto;
    text-align: center;
}
.dice {
    text-align: center;
    display: inline-block;
}
h1 {
    margin:30px;
    font-family: 'Lobster', cursive ;
    text-shadow: 8px 0 #01040a;
    font-size: 4rem;
    color: #4ECCA3;

}
p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie flower', cursive;
}
.img1 {
    width: 50%;
}
.footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    /*font-family: 'Indie flower', cursive;*/
}

/*for refresh button styling*/
.btn {
    text-align: center;
    display: block;
}
.refresh-button {
    height: 35px;
    border-radius: 8px;
    background-color: #4ECCA3;
}
.refresh-button:hover {
    background-color: #393E46;
    color: white;
}
